.App {
    background: linear-gradient(to top, #adf5f5, #fff);;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Cage {
    width: 150px;
    height: 150px;
    margin: 0;
    margin-left: 0%;
    padding: 0;
    border: 0;
    border-radius: 5px;
    z-index: 1;
    display: flex;
}